
/* MOVIES */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item {
    margin: 1rem .625rem;
    text-align: center;
    a {
        cursor: pointer;
        text-decoration: none;
        color: #FF424F;
        h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: normal;
            text-align: center;
        }
    }

    @media screen and (min-width: 410) {
        max-width: calc(50% - 10px);
    }
    @media (min-width: 620px) {
    max-width: calc(33.33333% - 10px);
    }
    @media (min-width: 830px) {
    max-width: calc(25% - 10px);
    }
    @media (min-width: 1040px) {
    max-width: calc(20% - 10px);
    }
    @media (min-width: 1250px) {
    max-width: calc(16.66667% - 10px);
    }
    @media (min-width: 1460px) {
    max-width: calc(14.28571% - 10px);
    }
    @media (min-width: 1670px) {
    min-width: calc(12.5% - 10px);
    }
  }
}