/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

$bg-color : #191C1F;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.mat-sidenav-content {
  background-color: $bg-color;
  color: #FFF;
}

@import "./_splashscreen.scss";

.spacer {
  flex: 1 1 auto;
}

/* REPONSIVE */
.desktop { display: none; }

@media screen and (min-width: 410) {
  .mobile { display: initial; }
}
@media (min-width: 620px) {
  .mobile { display: initial; }
}
@media (min-width: 830px) {
  .mobile { display: none; }
  .desktop { display: initial; }
}
@media (min-width: 1040px) {
  .mobile { display: none; }
  .desktop { display: initial; }
}
@media (min-width: 1250px) {
  .mobile { display: none; }
  .desktop { display: initial; }
}
@media (min-width: 1460px) {
  .mobile { display: none; }
  .desktop { display: initial; }
}
@media (min-width: 1670px) {
  .mobile { display: none; }
  .desktop { display: initial; }
}


#pageTitle {
    padding: 40px;
    text-align: center;
}

/* MOVIES */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item {
    margin: 1rem .625rem;
    text-align: center;
    a {
        cursor: pointer;
        text-decoration: none;
        color: #FF424F;
        h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: normal;
            text-align: center;
        }
    }

    @media screen and (min-width: 410) {
        max-width: calc(50% - 10px);
    }
    @media (min-width: 620px) {
    max-width: calc(33.33333% - 10px);
    }
    @media (min-width: 830px) {
    max-width: calc(25% - 10px);
    }
    @media (min-width: 1040px) {
    max-width: calc(20% - 10px);
    }
    @media (min-width: 1250px) {
    max-width: calc(16.66667% - 10px);
    }
    @media (min-width: 1460px) {
    max-width: calc(14.28571% - 10px);
    }
    @media (min-width: 1670px) {
    min-width: calc(12.5% - 10px);
    }
  }
}

/* Pagination */
.pagination {
  display: initial;
  text-align: center;
  ul {
    -webkit-padding-start: 0;
  }
  li {
    a {
      cursor: pointer;
    }
    
    display: inline-block;
    padding: 0 .5rem;
  }
  .disabled a {
    cursor: default;
    pointer-events: none;
    color: #3C3C3C;
  }
}