<div id="pageTitle">
  <h2>À propos</h2>
</div>
<div class="container"> 
  <p>Cette application à été développée pour un projet scolaire par <a href="http://www.ahmetcelikbas.fr" target="blank">Ahmet Celikbas</a> et Younes El Yandouzi</p>
  <p>Nous ne revendiquons pas la propriété des images ou des données utilisés sur cette application.</p>
  <p>L'intégralité des images ou des données utilisés sur cette application proviennent de l'api de <a href="https://www.themoviedb.org" target="blank">The Movie Database (TMDb)</a>.</p>
  <p>En vous connectant à ce site, vous acceptez sans conditions <a href="https://www.themoviedb.org/terms-of-use" target="blank">les conditions d'utilisations</a> de <a href="https://www.themoviedb.org" target="blank">TMDb</a>.</p>
</div>